.td_block_wrap.td_block_futura_social_icons,
.td_block_wrap.td_block_player_futura {
  margin-bottom: 0px;
}


.td-module-meta-info .audioPlayer {
  pointer-events: all;
}

.td_module_futura_flex_6 .td-module-meta-info {
  padding-left: 1em;
}

.td_module_futura_flex_6 .td-module-title a,
.td_module_futura_flex_7 .td-module-title a {
  text-shadow:  .5ch 0ch 1.25ch #282828,
               -.5ch 0ch 1.25ch #282828
                !important;
  border-radius: .25em;
}

.td_block_big_grid_flex_2,
.td_block_futura_flex_1-row {
  border-radius:  .5em    !important;
  border-width:   1em     !important;
  border-color:   #ffffff00 !important;
  border-style:   solid   !important;
  background:     #bcbcbc70 !important;
}

.td_block_big_grid_flex_2 .td_module_futura_flex_7,
.td_block_big_grid_flex_2 .td_module_flex_7,
{
  border-radius:  .5em    !important;
  border-width:   .25em   !important;
  border-color:   #ffffff00 !important;
  border-style:   solid   !important;
}

.td_block_futura_flex_1-row {
  display:        table;
  padding-left:   .4rem   !important;
  padding-right:  .4rem   !important;
}

@media(min-width: 768px){
  .td_block_futura_flex_1-row {
    display:        flex;
  }
}

.td_block_futura_flex_1-row:not(:first-child) {
  margin-top:     1em;
}

.td_module_futura_flex_1 {
  padding-top:    .25rem  !important;
  border-radius:  .5em    !important;
  border-width:   .25em   !important;
  border-color:   #ffffff00 !important;
  border-style:   solid   !important;
  background:     #ffffff !important;
}

.td_block_player_futura_play_button,
.td_block_player_futura_current_show {
  margin: 0 !important;
}

@media(max-width: 360px){
  .td_module_futura_flex_7 .tdb-module-title-wrap {
    overflow: hidden;
    height: 7.5em;
  }
}

